{% extends 'week3/base.html' %}

{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
            
      {% include "week4/profile_navigation.html" %}

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              {% if not vacancies %}
                    <div class="card-body px-3 pb-4">
                      <p class="mt-2">У вас пока нет вакансий, но вы можете создать первую!</p>
                    </div>
              {% else %}
              
              {% for vacancy in vacancies %}
                <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url 'edit_vacancy' vacancy.id %}" class="mb-1">{{ vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">{{ vacancy.salary_max }}</span><a href="{% url 'edit_vacancy' vacancy.id %}" class="text-info">{{ vacancy.applications.count }} отклика</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'edit_vacancy' vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}

              {% endif %}
              <a href="{% url 'create_vacancy' %}" class="btn btn-info mb-2">Добавить вакансию</a>

            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}